@{
    var renderMode = RenderMode.ServerPrerendered;
    var parameters = new Dictionary<string, object>
    {
        { "ProductLimit", 3 } 
    };
}

@(await Html.RenderComponentAsync<TeaShopDemo.BlazorPages.ProductList>(renderMode,parameters))

<div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s">
    <a asp-controller="Store" asp-action="Index" class="btn btn-primary rounded-pill py-3 px-5">View More Products</a>
</div>
